Paper Sumber/

# Ignore all files in Dataset directory except dataset.xlsx and datatesting.xlsx
Dataset/*
!Dataset/dataset.xlsx
!Dataset/datatesting.xlsx

# Ignore all files in Program directory except 
Program/*
!Program/research_implementation.ipynb
!Program/augmentasi_random_deletion.py

researchflow_narasi.md
